# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# firebase
src/firebase/client.ts
src/firebase/server.ts

# environment variables
.env
.env.production
src/env.d.ts

# macOS-specific files
.DS_Store
