<div class="courses">
  <slot />
</div>

<style lang="scss">
  .courses {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
  }

  @media only screen and (max-width: 428px) {
    .courses {
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
    }
	}
</style>