---
import type { CoursesInfoItem } from "../types/types";
interface Props extends CoursesInfoItem {};
const { infoImage } = Astro.props
---
<div class="image-container container">
  <img src={infoImage} alt="Imagen detallada del curso">
</div>

<style lang="scss" scoped>
  .image-container {
    width: auto;
  }
</style>