---
import CoursesInfoView from "./CoursesInfoView.astro";
import CourseInfoItemView from "./CourseInfoItemView.astro";
import coursesInfoItems from "../data/CoursesInfoItems"
---

<section id="courses-info" class="container courses-info">
  <CoursesInfoView>
    {
      coursesInfoItems.map(item => <CourseInfoItemView {...item} />)
    }
  </CoursesInfoView>
</section>

<style scoped>
  .courses-info {
    margin-bottom: 10rem;
  }
</style>
