---
import type { CoursesItem } from "../types/types";
interface Props extends CoursesItem {};
const { age, course, image } = Astro.props
---
<a class="course" id="course" href="#courses-info">
  <div >
    <div class="meta-inf">
      <span>{age}</span>
        <img src={image} alt="Imagen del curso">
      <h3>{course}</h3>
    </div>
  </div>
</a>

<style lang="scss">
  .course {
    border-radius: 20px;
    padding: 1rem;
    height: 12rem;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: translate(-7px, -10px);
    }
    .meta-inf {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 10rem;
      }
    }
    span {
      color: #602b7a;
      font-weight: 500;
    }
    h3 {
      margin: 0;
      color: #602b7a;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &:nth-child(1) {
      background-color: #24A7EF;
      img {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    &:nth-child(2) {
      background-color: #F44C75;
      img {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    &:nth-child(3) {
      background-color: #FFDB59;
      img {
        margin-top: .5rem;
        margin-bottom: 1rem;
        width: 8rem;
      }
    }
    &:nth-child(4) {
      span {
        color: #602b7a;
      }
      img {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 8rem;
      }
      h3 {
        color: #602b7a;
      }
      background-color: #CBF86D;
    }
    &:nth-child(5) {
      span {
        color: white;
      }
      img {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        width: 8rem;
      }
      h3 {
        color: white;
      }
      background-color: #7D28A6;
    }
    &:nth-child(6) {
      span {
        color: white;
      }
      img {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 8rem;
      }
      h3 {
        color: white;
      }
      background-color: #602A7A;
    }
    &:nth-child(7) {
      span {
        color: white;
      }
      img {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 8rem;
      }
      h3 {
        text-align: center;
        color: white;
      }
      background-color: #00AF85;
    }
  }

  @media only screen and (max-width: 1366px) {
    .course {
      height: 12rem;
      h3 {
        margin: 0;
        color: #602b7a;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
      }
      .meta-inf {
        img {
          width: 7rem;
        }
      }
      
    }
  }
  @media only screen and (max-width: 1024px) {
    .course {
      height: 10rem;
      h3 {
        margin: 0;
        color: #602b7a;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
      }
      .meta-inf {
        img {
          width: 5rem;
        }
      }
    }
  }
</style>