<footer class="container" id="footer">
  <div>
    <img src="/assets/logo_header.svg" alt="">
  </div>
  <div class="footer-info">
    <a href="#">VOLVER AL INICIO</a>
    <span>729 374 4649</span>
  </div>
</footer>

<style lang="scss">
  #footer {
    
  }

@media only screen and (max-width: 428px) {
  
}
</style>