---
import MenuView from "./MenuView.astro";
import MenuItemView from '../components/menuItemView.astro';
import menuItems from '../data/MenuItems';
---

<header id="inicio">
  <div class="header-content container">
    <div class="logo-content">
      <a class="logo" href="/">
        <img src="/assets/logo.jpeg" alt="Logo">
      </a>
      <span>Escuela internacional <br> de programación</span>
    </div>
    
    <MenuView >
      {
        menuItems.map(item => <MenuItemView {...item} />)
      }
    </MenuView>
  </div>
</header>

<style lang="scss">
  header {
    width: 100%;
    margin-bottom: 2rem;
    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 2rem;

      .logo-content {
        display: flex;
        flex-direction: column;
        span {
          font-size: .9rem;
          font-weight: 500;
          color: #602B7B;
        }
        .logo {
          img {
            width: 10rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 428px) {
    header {
      .header-content {
        align-items: start;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
</style>