<section>
  <video src="/assets/Background.mp4" autoplay loop muted></video>
</section>

<style lang="scss">
  section {
    video {
      position: relative;
      width: 100%;
      widows: 100%;
    }
  }
  
</style>