---
import CoursesView from "./CoursesView.astro";
import CourseItemView from "./CourseItemView.astro";
import coursesItems from "../data/CoursesItems";
---
<main class="container" id="main">
  <div class="big-card">
    <h1>Conoce nuestros cursos</h1>
    <CoursesView>
      {
        coursesItems.map(item => <CourseItemView {...item} />)
      }
    </CoursesView>
  </div>
</main>

<style lang="scss">
  #main {
    margin-bottom: 8rem;
    .big-card {
      width: 100%;
      height: auto;
      border-radius: 20px;
      h1 {
        color: #602B7B;
        //background: -webkit-linear-gradient(#CBF86D,#24A7EF);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
  }

@media only screen and (max-width: 428px) {
  #main {
    margin-bottom: 5rem;
  }
}
</style>