---
import type { MenuItem } from '../types/types';

interface Props extends MenuItem {}
const { title, url } = Astro.props;
---

<li>
  <a href={url}> {title} </a>
</li>

<style lang="scss">
  li {
    a {
      color: #602B7A;
      text-decoration: none;
      background-color: #FBD749;
      padding: 1rem;
      font-weight: 700;
      border-radius: 10px;
    }
  }
  @media only screen and (max-width: 428px) {
    li {
      width: 100%;
      a {
        font-size: .7rem;
        font-weight: 700;
      }
    }
  }
</style>